* {
    box-sizing: border-box;
}

body {
    background-color: #f3f2f1;
    font-size: 120%;
    padding: 0px;
    margin: 0px;
}

span.chime {
    color: #8500cc;
    font-weight: bold;
    /* font-style: oblique; */
}

section {
	padding: 0.5em;
}

.instruction {
	float: left;
	max-width: 30em;
}

span.tip {
    color: #8400cb;
    font-weight: bold;
    font-family: monospace;
}

.youtube {
	margin: 1em;
}

#startPane {
    max-width: 93%;
}

button#bye {
    margin: 2em;
}

.flash {
    background-color: #f1edd1;
}

#logging {
    display: none; /* set to block for mobile debugging */
    background-color: lightgreen;
    width: 13em;
    margin-left: 1em;
    padding: 0.5em;
    border: black solid;
}

#topbar {
    width: 100%;
    background-color: #8500cc;
    color: white;
    height: 3em;
    margin-bottom: 10px;
}

#topbar>span{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding: 1em;
    font-size: xx-large;
    top: 10px;
    position: relative;
}

#logo {
    width : 3em;
    float: left;
}

div#main, .calm {
    padding-left: 1em;
    font-size: medium;
}

.namebox {
    float: left;
    padding-right: 1em;
}

.mine, .theirs {
    background: #00aabb;
    padding: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin: 2px;
    margin-bottom: 6px;
    width: max-content;
    max-width: 85%;
    min-width: 10em;

    position: relative;
    border-radius: .3em;
}

.mine {
    background-color: #e5e5f1;
    margin-left:auto;
    margin-right: 10px;
    padding-right: 2em;
}

.theirs {
    background-color: #ffffff;
    padding-left: 2em;
    margin-left: 10px;
}

.details, .namebox {
    font-size: 65%;
    color: #646464;
}