body {
    background-color: #f3f2f1;
    font-size: 120%;
    padding: 0px;
    margin: 0px;
}

#bye {
	margin: 3em;
}

#topbar {
	background-color: #8500cc;
	color: white;
	height: 3em;
	margin-bottom: 10px;
}

#topbar>span{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding: 1em;
    font-size: xx-large;
    top: 10px;
    position: relative;
}

#logo {
	width : 3em;
	float: left;
}

.mine, .theirs {
	margin: 2px;
}

.mine {
	background-color: purple;
}

.theirs {
	background-color: #c0c0c0;
}